html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif !important;
  font-size: 16px;
  line-height: 1.5;
  background-color: #daedfb !important;
}
.logo img {
  /* padding-bottom: 10px; */
  width: 130px;
}
.waves {
  z-index: -10;
  left: 0;
  position: absolute;
  top: 35%;
  width: 100%;
  overflow: hidden;
}

.page-title {
  color: #003b73;
}
.page-title h1 {
  font-size: 4.0625rem;
  letter-spacing: -0.03em;
  font-weight: 500;
  text-align: center;
}
.page-title span {
  display: block;
}
.page-title span ::before {
  content: attr(data-text);
  padding: 1px 8px;
}
.page-title em {
  color: #009fe3;
  font-family: "Open Sans", sans-serif !important;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.01em;
  position: relative;
}

.sub-title {
  color: #003b73;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.36;
}

.my-primary {
  color: #003b73 !important;
  /* background-color: red !important; */
  border-color: #003b73 !important;
}

.my-primary:focus,
.my-primary:hover {
  color: white !important;
  background-color: #003b73 !important;
}
